<div id="land">
  <div class="container">
  <div id="head">
  <h1>Github Search</h1>
  <img src="https://www.flaticon.com/premium-icon/icons/svg/527/527589.svg" alt="" width="200px">
</div>
    <br>
    <div id="bod">
   <p>Want to see your favorite developer's work? Worry not. You can look them up here!</p>
     <a routerLink='/details' routerLinkActive='active'><button id="but0">Get Started</button></a>
<div id="contacts">
  <h2>Find us on:</h2>
  <a href="https://www.facebook.com/profile.php?id=100000690725896"><img src="https://image.flaticon.com/icons/svg/185/185981.svg" alt="" width="40px" height="40px"> </a>
  <a href="https://twitter.com/jamesandere_"><img src="https://image.flaticon.com/icons/svg/185/185961.svg" alt="" width="40px" height="40px"> </a>
  <a href="https://www.instagram.com/jamesandere/"><img src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt="" width="40px" height="40px"> </a>
</div>

</div>
</div>
<div style=" padding: 1em;" class="footer">
    <p style="text-align: center;">&copy; Copyright  James Andere</p>
    </div>

