<div id="land">
  <h1>Github Search</h1>
  <img src="https://www.flaticon.com/premium-icon/icons/svg/527/527589.svg" alt="" width="200px">
     
<div style=" background-size: cover; background-attachment: fixed; width: 100%; height: 100px; padding: 265px ;" class="landing">
 
   
 <div class="overlay">
  
   
    <br>
   <p>This is where you can search for your fellow developers on Github</p>
   <div class= "row">
     <div col-md-5>
       <div style="color:whitesmoke; font-size: 30px;" class="row">
           <div class="col-md-4">
              <a href="https://facebook.com/"> </a>
           </div>
           <div class="col-md-4">
              <a href="https://instagram.com/"></a> 
             </div>
             <div class="col-md-4">
                 <a href="https://twitter.com/"></a> 
               </div>
               
       </div>
       <a routerLink='/detailspage' routerLinkActive='active'><button id="but">Get Started</button> </a>
     </div>
     <div class="col-md-7">

     </div>
   </div>
   <br>
  
 </div>
</div>
<div style=" padding: 1em;" class="footer">
<p style="text-align: center;">&copy; Copyright James Andere</p>
</div>
</div>
<app-detailspage></app-detailspage>
<router-outlet></router-outlet>